 <!-- ===================================
         HERO SECTION
    ==================================== -->

    <header class="hero-section">

        <div class="overlay"></div>

        <div class="container hero-content">

            <div class="row">

                <div class="col-lg-6">

                    <h1>
                        Saboreie Momentos,
                        Crie Memórias.
                    </h1>

                    <p>
                        Experiências autênticas, café artesanal e o ambiente mais instagramável da cidade.
                    </p>

                    <div class="hero-buttons">

                        <a href="#" class="btn btn-outline-light btn-lg">
                            Ver Cardápio
                        </a>

                        <a href="#" class="btn btn-caramel btn-lg">
                            Reservar Mesa
                        </a>

                    </div>

                </div>

            </div>

        </div>

    </header>
