<!-- ===================================
         FOOTER
    ==================================== -->

    <footer class="footer">

        <div class="container">

            <div class="row g-4 align-items-start">

                <div class="col-lg-4 col-md-6 col-12">

                    
                    <h3 class ="footer-brand">THE COZY BEAN</h3>

                    <p class ="footer-text">Experiências inesquecíveis.</p>

                </div>
                <!-- Contatos -->
                <div class="col-lg-3 col-md-6 col-12">

                    <h5 class="footer-title">Contato</h5>

                    <p class ="footer-text mb-2">(21) 99999-9999</p>
                    <p class ="footer-text ">contato@thecozybean.com</p>

                </div>

                <div class="col-lg-3 col-md-6 col-12">
                 <!-- Links -->

                    <h5 class="footer-title">Links</h5>
                    <ul class = "footer-links">
                        <li ><a href="">Cardápio</a></li>
                        <li ><a href="">Reservas</a></li>
                        <li ><a href="">Galeria</a></li>

                    </ul>

                </div>

                <!-- Redes sociais -->

                <div class="col-lg-2 col-md-6 col-12">

                    <h5 class="footer-title">Redes Sociais</h5>

                    <div class="social">

                        <a id="instagram" href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.facebook.com/?locale=pt_BR"><i class="bi bi-facebook"></i></a>
                        <a href="https://wa.me"><i class="bi bi-whatsapp"></i></a>
                        <a href="https://www.tiktok.com/"><i class="bi bi-tiktok"></i></a>
                        <a href="https://twitter.com/"><i class="bi bi-twitter"></i></a>
                        
                        

                    </div>

                </div>

            </div>
              <hr class="my-4 border-light" id="linha-footer">
            <div class="footer-bottom">
              
                <p class="text-center mt-4 mb-0">&copy; 2024 The Cozy Bean. Todos os direitos reservados.</p>
            </div>

        </div>

    </footer>