 <!-- ===================================
         FORMULÁRIO
    ==================================== -->

    <section class="cadastro section-padding">

        <div class="container">

            <div class="form-box">

                <h2>
                    Cadastre-se e Fique por Dentro
                </h2>

                <form>

                    <input type="text" class="form-control" placeholder="Nome Completo">

                    <input type="email" class="form-control" placeholder="E-mail">

                    <button class="btn btn-caramel w-100">
                        Cadastrar
                    </button>

                </form>

            </div>

        </div>

    </section>