 <!-- ===================================
         NOSSA ESSÊNCIA
    ==================================== -->

    <section class="essencia section-padding">

        <div class="container">

            <h2 class="section-title">
                Nossa Essência
            </h2>

            <div class="row align-items-center">

                <div class="col-lg-6">

                    <img src="img/galeria2.png" class="img-fluid rounded shadow">

                </div>

                <div class="col-lg-6">

                    <p>
                        Qualidade e sentimento em cada xícara.
                        Café artesanal preparado com técnicas modernas.
                    </p>

                    <button class="btn btn-caramel">
                        Conheça Mais
                    </button>

                </div>

            </div>

        </div>

    </section>