<!-- ===================================
         CONTADORES
    ==================================== -->

    <section class="stats">

        <div class="container">

            <div class="row text-center">

                <div class="col-md-3">
                    <h2 class="counter" data-target="15000">0</h2>
                    <p>Clientes</p>
                </div>

                <div class="col-md-3">
                    <h2 class="counter" data-target="120">0</h2>
                    <p>Tipos de Café</p>
                </div>

                <div class="col-md-3">
                    <h2 class="counter" data-target="15">0</h2>
                    <p>Anos de História</p>
                </div>

                <div class="col-md-3">
                    <h2 class="counter" data-target="98">0</h2>
                    <p>% Satisfação</p>
                </div>

            </div>

        </div>

    </section>